*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof

# Kotlin/Native
*.klib

# Compose
/composeApp/build
/androidApp/build

# Signing
*.jks
*.keystore

# iOS
/iosApp/iosApp.xcworkspace
/iosApp/Pods
